<a href="https://colab.research.google.com/github/kiranazka/45-Assignment-/blob/main/Python_Assignment_List_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Basic List Operations**

1. Create a list of five numbers and append a new number to it. Print the updated list.

In [ ]:
five_numbers = [1,2,3,4,5]
five_numbers.append(6)
print(five_numbers)

[1, 2, 3, 4, 5, 6]


2. Extend a list [1, 2, 3] with another list [4, 5, 6]. Print the result.

In [ ]:
list1 = [1,2,3]
list2 = [4,5,6]
list1.extend (list2)
print(list1)

[1, 2, 3, 4, 5, 6]

3. Insert the string "Python" at index 2 in the list ["Java", "C++", "JavaScript", "Ruby"].

In [ ]:
Language = ["Java", "C++", "JavaScript", "Ruby"]
Language.insert(2,"Python")
print(Language)

['Java', 'C++', 'Python', 'JavaScript', 'Ruby']

4. Remove the first occurrence of the number 10 from the list [10, 20, 30, 10, 40].

In [ ]:
numbers = [10,20,30,10,40]
numbers. remove(10)
print(numbers)

[20, 30, 10, 40]

5. Use the pop() method to remove the last element from [100, 200, 300, 400] and print the modified list.

In [ ]:
numbers =[100,200,300,400]
numbers.pop()
print(numbers)

[100, 200, 300]

# **Intermediate List Operations**

6. Count how many times the number 5 appears in the list [5, 10, 5, 20, 5, 30]

In [ ]:
Numbers = [5, 10, 5, 20, 5, 30]
count_5 = Numbers.count(5)
print(count_5)

3

7. Sort the list [9, 1, 8, 3, 5] in ascending and descending order.

# **Ascending Order**

In [ ]:
Ascending =[9,1,8,3,5]
Ascending.sort()
print(Ascending)

[1, 3, 5, 8, 9]

# **Descending Order**

In [ ]:
Descending =[9, 1, 8, 3, 5]
Descending.sort(reverse=True)
print(Descending)

[9, 8, 5, 3, 1]

8. Reverse the list [“apple”, “banana”, “cherry”] using the reverse() method.

In [ ]:
Fruits= ["apple", "banana", "cherry"]
Fruits.reverse()
print(Fruits)

['cherry', 'banana', 'apple']

9. Create a copy of the list [1, 2, 3, 4, 5] and store it in another variable. Modify the copied list and print both lists.

In [ ]:
original_list = [1,2,3,4,5]
copyright_list = original_list.copy()
copyright_list.append(10)
print("Original-List:", original_list,)
print( "CopyRight_List:", copyright_list)

Original-List: [1, 2, 3, 4, 5]
CopyRight_List: [1, 2, 3, 4, 5, 10]

10. Clear all elements from a list [“hello”, “world”, “python”] using the clear() method.

In [ ]:
Sentence = ["hello", "world", "python"]
Sentence.clear()
print(Sentence)

[]

# **Tuple-Based Questions**

11. Create a tuple with 5 different fruits and print the third fruit.

In [ ]:
Fruits = ["Apple","Orange","Banana","Cherry","Pineapple"]
print(Fruits[2])

Banana

Convert the tuple (10, 20, 30, 40, 50) into a list, remove the number 30, and convert it back into a tuple.

In [ ]:
numbers = [10, 20, 30, 40, 50]
numbers.remove(30)
print(numbers)

[10, 20, 40, 50]

13. Try to append an element to the tuple (“A”, “B”, “C”). What happens? How can you modify a tuple indirectly?

In [ ]:
Letters = ("A","B","C")

# Indirect modification by converting to list
Letters = list(Letters)
Letters.append("D")
Letters = tuple(Letters)
print("Indirect", Letters)

# Alternative: Using tuple concatenation
Letters = Letters + ("E",)
print("Alternative", Letters)

Indirect ('A', 'B', 'C', 'D')
Alternative ('A', 'B', 'C', 'D', 'E')

14. Unpack the tuple (100, 200, 300) into three separate variables and print them.

In [ ]:
Numbers = (100,200,300)
number1, number2, number3 = Numbers
print(number1)
print(number2)
print(number3)

100
200
300

15. Count the occurrences of 7 in the tuple (7, 1, 7, 3, 7, 5).

In [ ]:
numbers = (7,1,7,3,7,5,7,7)
count_7 = numbers.count(7)
print(count_7)

5

# **Advanced Problems**

16. Write a function that takes a list and returns a new list with all even numbers

In [3]:


def remove_evens(lst):
    return [x for x in lst if x % 2 != 0]

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
filtered_list = remove_evens(numbers)

print(filtered_list)

[1, 3, 5, 7, 9]

17. Create a function that accepts a list and returns a new list with elements sorted in descending order without using the sort() method.

In [52]:
def customer_sort_Descending(lst):
    return sorted(lst, reverse=True)

numbers = [15, 22, 9, 11, 13, 25]
print(customer_sort_Descending(numbers))

[25, 22, 15, 13, 11, 9]

18. Given a list of numbers, write a program to remove all duplicate elements and print the unique elements.

In [50]:
def remove_duplicate(lst):
    return list(set(lst))

numbers = [1, 5, 3, 4, 5, 6, 5, 8, 9, 10, 5, 5, 11, 5]
unique_numbers = remove_duplicate(numbers)
print(unique_numbers)

[1, 3, 4, 5, 6, 8, 9, 10, 11]

19. Given a tuple of names (“Alice”, “Bob”, “Charlie”, “Alice”, “David”), convert it into a list, remove duplicates, and convert it back to a tuple.

In [46]:
name_tuple =("Alice", "Bob", "Charlie", "Alice", "David")
name_list = list(name_tuple)
name_list = list(set(name_list))
name_tuple = tuple(name_list)
print(name_tuple)

('David', 'Bob', 'Alice', 'Charlie')

20. Create a program that takes a list of mixed data types (int, str, float) and separates integers into one list, strings into another, and floats into another.

In [56]:
def separate_data(mixed_list):
    int_list = []
    str_list = []
    float_list = []

    for item in mixed_list:
        if isinstance(item, int):
            int_list.append(item)
        elif isinstance(item, str):
            str_list.append(item)
        elif isinstance(item, float):
            float_list.append(item)

    return int_list, str_list, float_list

# Example usage:
mixed_data = [1, "hello", 2.5, 3, "world", 4.8, 7 ," Python"]
integers, strings, floats = separate_data(mixed_data)
print("Integers:", integers)
print("Strings:", strings)
print("Floats:", floats)

Integers: [1, 3, 7]
Strings: ['hello', 'world', ' Python']
Floats: [2.5, 4.8]